<!DOCTYPE html>
<html>
	<head>
		<title>Hannah Chang</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
				<li><a href="education.html">Education</a></li>
        		<li><a href="resume.html">Resume</a></li>
				<li><a href="projects.html">Projects</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
        		
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hannahkchang@gmail.com">personal email</a></li>
				<li><a href="mailto:hkchang@gmail.com">school email</a></li>
				<li><a href="(845)521-0506"> (845) 521-0506</a></li>
        		<li><a href="https://github.com/hannahkchang">github.com/hannahkchang</a></li>
			</ul>
		</footer>
	</body>
</html>
