<!DOCTYPE html>
<html>
	<head>
		<title>Hannah Chang</title>
		<title>Hannah Chang</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
				<li><a href="education.html">Education</a></li>
        		<li><a href="resume.html">Resume</a></li>
				<li><a href="projects.html">Projects</a></li>
        		
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Hannah Chang!</h1>
				<p>I'm a sophomore (class of 2024) at the University of Michigan's College of Engineering. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hannahkchang@gmail.com">personal email</a></li>
				<li><a href="mailto:hkchang@gmail.com">school email</a></li>
				<li><a href="(845)521-0506"> (845) 521-0506</a></li>
        		<li><a href="https://github.com/hannahkchang">github.com/hannahkchang</a></li>
			</ul>
		</footer>
	</body>
</html>
